# https://www.klipper3d.org/
#
# This file contains common pin mappings for the BIGTREETECH SKR V1.4
# board. To use this config, the firmware should be compiled for the
# LPC1768 or LPC1769(Turbo).

# See docs/Config_Reference.md for a description of parameters.

############################################
#   G-Code Shell Command Extension         #
############################################
#[include shell_command.cfg]


############################################
#   Mainsail settings                      #
############################################
[include mainsail.cfg]

[virtual_sdcard]
path: /home/pi/printer_data/gcodes

#rPi Temp Sensor
[temperature_sensor raspberry_pi]
sensor_type: temperature_host
min_temp: 10
max_temp: 100

# Printer Mainboard Temp Sensor
#[temperature_sensor mcu_temp]
#sensor_type: temperature_mcu
#min_temp: 0
#max_temp: 100

# Printer display disabel OctoPrint entry
[menu __main __octoprint]
type: disabled


############################################
#   Macors                                 #
############################################
[include macros.cfg]
[include Area_Mesh.cfg]


############################################
#   Timelaps settings                      #
############################################
[include timelapse.cfg] # delete # if timelapse.cfg will be used


############################################
#   NEOPixel aka WS2812                    #
############################################
#[include neopixel.cfg]


############################################
#   MCU (Motherboard) Settings             #
############################################
[mcu rpi]
serial: /tmp/klipper_host_mcu


############################################
#   MCU (Motherboard) Settings             #
############################################
[mcu]
serial: /dev/serial/by-id/usb-Klipper_lpc1769_0770FF1727903CAF39CF6D5CC72000F5-if00


############################################
#   Auto Power OFF                         #
############################################
[idle_timeout]
gcode:
    M84 #TURN_OFF_MOTORS
    TURN_OFF_HEATERS
#   A list of G-Code commands to execute on an idle timeout. See
#   docs/Command_Templates.md for G-Code format. The default is to run
#   "TURN_OFF_HEATERS" and "M84".
timeout: 600
#   Idle time (in seconds) to wait before running the above G-Code
#   commands. The default is 600 seconds.


############################################
#   Printer Settings                       #
############################################
[printer]
kinematics: cartesian
#Max 210  Feedrate in mm/s
max_velocity: 210
#Max 5000 in mm/s^2
max_accel: 1800 # defined with Input Shaper
#Max 45 (Feedrate mm/s)
max_z_velocity: 45
#Max 50 in mm/s^2
max_z_accel: 50

############################################
#   Extruder pressure advanced             #
############################################
#[extruder]
#PLA 0.65
#pressure_advance = 0.65


############################################
############################################
#define DEFAULT_AXIS_STEPS_PER_UNIT   { 80.00, 80.50, 396.06, 101.94 }
############################################
############################################

############################################
# Fomel zum umrechnen Steps in mm          #
############################################
#
#(hinterlegte Schritte pro mm * gefahrene Millimeter) / gemessene Millimeter = neue Schritte pro Umdrehung
#(100 * 30) / 30,1 = 99,67
#
# von Klipper in Stepps:
# ( (Klipper Steps * 3200) * soll mm ) / gefahrene mm = neue Steps
# von Steps nach Klipper:
# neue Stepps / 3200 = Klipper Steps
#
############################################

############################################
#   X Stepper Settings                     #
############################################
[stepper_x]
step_pin: P2.2
dir_pin: !P2.6
enable_pin: !P2.1
microsteps: 16
#  "200" for 1.8 degree stepper and "400" for 0.9 degree stepper
full_steps_per_rotation:200
#  rotation_distance = <full_steps_per_rotation> * <microsteps> / <steps_per_mm>
#  <full_steps_per_rotation> == 200 = 1,8° Motor, 400 = 0,9° Motor
#  rotation_distance = 200 * 16 / Steps/mm = 3200 / 80 = 40.0
rotation_distance: 40.0
endstop_pin: P1.29
position_min: -9.5
position_endstop: -7.5
position_max: 202
homing_speed: 50

#[tmc2209 stepper_x]
#uart_pin: P1.10
#interpolate: False
#run_current: 0.550
#sense_resistor: 0.110

[tmc2208 stepper_x]
uart_pin: P1.10
run_current: 0.700
stealthchop_threshold: 80


############################################
#   Y Stepper Settings                     #
############################################
[stepper_y]
step_pin: P0.19
dir_pin: !P0.20
enable_pin: !P2.8
microsteps: 16
full_steps_per_rotation:200
#  rotation_distance = 200 * 16 / Steps/mm = 3200 / 80,5 = 39,7515528
rotation_distance: 39.75155
endstop_pin: P1.28
position_min: -7
position_endstop: -5
position_max: 202
homing_speed: 50

#[tmc2209 stepper_y]
#uart_pin: P1.9
#interpolate: False
#run_current: 0.650
#sense_resistor: 0.110

[tmc2208 stepper_y]
uart_pin: P1.9
run_current: 0.700
stealthchop_threshold: 80


############################################
#   Z Stepper Settings                     #
############################################
[stepper_z]
step_pin: P0.22
dir_pin: P2.11
enable_pin: !P0.21
microsteps: 16
full_steps_per_rotation:200
#  rotation_distance = 200 * 16 / Steps/mm = 3200 / 396,06 = 8,07958
rotation_distance: 8.07958
endstop_pin: probe:z_virtual_endstop
position_min: -1.0
#position_endstop: 0.0
position_max: 145 #170 #angepasst af 145 wegen ADXL345 Sensor

#[tmc2209 stepper_z1]
#uart_pin: P1.8
#interpolate: False
#run_current: 0.600
#sense_resistor: 0.110

[tmc2208 stepper_z]
uart_pin: P1.8
run_current: 0.700
stealthchop_threshold: 80

[stepper_z1]
step_pin: P2.13
dir_pin: P0.11
enable_pin: !P2.12
microsteps: 16
full_steps_per_rotation:200
#  rotation_distance = 200 * 16 / Steps/mm = 3200 / 396,06 = 8,07958
rotation_distance: 8.07958
endstop_pin: probe:z_virtual_endstop

[tmc2208 stepper_z1]
uart_pin: P1.4
run_current: 0.700
stealthchop_threshold: 80


############################################
#   Extruder (No. 1)                       #
############################################
[extruder]
step_pin: P1.15
dir_pin: !P1.14
enable_pin: !P1.16
microsteps: 16
#  set to 400 for 0.9 degree stepper
full_steps_per_rotation:200
#  rotation_distance = 200 * 16 / Steps/mm = 3200 / 101,94 = 31,3910
rotation_distance: 31.3910
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: P2.7
sensor_type: EPCOS 100K B57560G104F
sensor_pin: P0.24
control: pid
#pid_Kp: 78.09
#pid_Ki: 12.71
#pid_Kd: 119.95
#mit Klipper erstellt 5.1.22 Sascha
pid_Kp=20.137 
pid_Ki=0.610 
pid_Kd=166.133
min_temp: 0
max_temp: 260

#[tmc2209 extruder]
#uart_pin: P1.1
#interpolate: False
#run_current: 0.400
#sense_resistor: 0.110
#stealthchop_threshold: 999999

[tmc2208 extruder]
uart_pin: P1.1
run_current: 0.600
stealthchop_threshold: 30

[verify_heater extruder]
max_error: 240
#   The maximum "cumulative temperature error" before raising an
#   error. Smaller values result in stricter checking and larger
#   values allow for more time before an error is reported.
#   Specifically, the temperature is inspected once a second and if it
#   is close to the target temperature then an internal "error
#   counter" is reset; otherwise, if the temperature is below the
#   target range then the counter is increased by the amount the
#   reported temperature differs from that range. Should the counter
#   exceed this "max_error" then an error is raised. The default is
#   120.
check_gain_time: 90
#   This controls heater verification during initial heating. Smaller
#   values result in stricter checking and larger values allow for
#   more time before an error is reported. Specifically, during
#   initial heating, as long as the heater increases in temperature
#   within this time frame (specified in seconds) then the internal
#   "error counter" is reset. The default is 20 seconds for extruders
#   and 60 seconds for heater_bed.
hysteresis: 5
#   The maximum temperature difference (in Celsius) to a target
#   temperature that is considered in range of the target. This
#   controls the max_error range check. It is rare to customize this
#   value. The default is 5.
heating_gain: 2
#   The minimum temperature (in Celsius) that the heater must increase
#   by during the check_gain_time check. It is rare to customize this
#   value. The default is 2.


############################################
#   Bed Heater                             #
############################################
[heater_bed]
heater_pin: P2.5
sensor_type: EPCOS 100K B57560G104F
sensor_pin: P0.25
control: pid
#pid_Kp: 42.8
#pid_Ki: 8.43
#pid_Kd: 144.92
#mit Klipper erstellt 5.1.22 Sascha
pid_Kp=73.202 
pid_Ki=3.190 
pid_Kd=419.995
min_temp: 0
max_temp: 150

[verify_heater heater_bed]
max_error: 240
#   The maximum "cumulative temperature error" before raising an
#   error. Smaller values result in stricter checking and larger
#   values allow for more time before an error is reported.
#   Specifically, the temperature is inspected once a second and if it
#   is close to the target temperature then an internal "error
#   counter" is reset; otherwise, if the temperature is below the
#   target range then the counter is increased by the amount the
#   reported temperature differs from that range. Should the counter
#   exceed this "max_error" then an error is raised. The default is
#   120.
check_gain_time: 90
#   This controls heater verification during initial heating. Smaller
#   values result in stricter checking and larger values allow for
#   more time before an error is reported. Specifically, during
#   initial heating, as long as the heater increases in temperature
#   within this time frame (specified in seconds) then the internal
#   "error counter" is reset. The default is 20 seconds for extruders
#   and 60 seconds for heater_bed.
hysteresis: 5
#   The maximum temperature difference (in Celsius) to a target
#   temperature that is considered in range of the target. This
#   controls the max_error range check. It is rare to customize this
#   value. The default is 5.
heating_gain: 2
#   The minimum temperature (in Celsius) that the heater must increase
#   by during the check_gain_time check. It is rare to customize this
#   value. The default is 2.


############################################
#   Fan Control                            #
############################################
##  Print Cooling Fan
[fan]
pin: P1.26
kick_start_time: 0.5
##  Depending on your fan, you may need to increase this value
##  if your fan will not start. Can change cycle_time (increase)
##  if your fan is not able to slow down effectively
off_below: 0.10

##  Hotend Fan
[heater_fan hotend_fan]
pin: P2.3
heater_temp: 50.0

##  Controller fan
[controller_fan MCU_fan]
pin: P2.4
max_power: 1.0
fan_speed: 1.0
idle_timeout: 60
heater: extruder
stepper: stepper_x, stepper_y, stepper_z, extruder
#   Name of the config section defining the heater/stepper that this fan
#   is associated with. If a comma separated list of heater/stepper names
#   is provided here, then the fan will be enabled when any of the given
#   heaters/steppers are enabled. The default heater is "extruder", the
#   default stepper is all of them.


############################################
#   Probe                                  #
############################################
[bltouch]
sensor_pin: ^P1.27 #^P0.10
control_pin: P2.0
pin_move_time: 0.250
stow_on_each_sample: True
#   This determines if Klipper should command the pin to move up
#   between each probe attempt when performing a multiple probe
#   sequence. Read the directions in docs/BLTouch.md before setting
#   this to False. The default is True.
#probe_with_touch_mode: False
#   If this is set to True then Klipper will probe with the device in
#   "touch_mode". The default is False (probing in "pin_down" mode).
#pin_up_reports_not_triggered: True
#   Set if the BLTouch consistently reports the probe in a "not
#   triggered" state after a successful "pin_up" command. This should
#   be True for all genuine BLTouch devices. Read the directions in
#   docs/BLTouch.md before setting this to False. The default is True.
#pin_up_touch_mode_reports_triggered: True
#   Set if the BLTouch consistently reports a "triggered" state after
#   the commands "pin_up" followed by "touch_mode". This should be
#   True for all genuine BLTouch devices. Read the directions in
#   docs/BLTouch.md before setting this to False. The default is True.
#set_output_mode:
#   Request a specific sensor pin output mode on the BLTouch V3.0 (and
#   later). This setting should not be used on other types of probes.
#   Set to "5V" to request a sensor pin output of 5 Volts (only use if
#   the controller board needs 5V mode and is 5V tolerant on its input
#   signal line). Set to "OD" to request the sensor pin output use
#   open drain mode. The default is to not request an output mode.
#define NOZZLE_TO_PROBE_OFFSET { -25, -36, -0.88 }
x_offset: -25.0
y_offset: -36.0
#z_offset: 0.88
speed: 4.0
lift_speed: 5.0
#samples: 2
#sample_retract_dist: 5.0
#samples_result: average
#samples_tolerance: 0.100
#samples_tolerance_retries: 1
#   See the "probe" section for information on these parameters.


[bed_mesh]
speed: 40
horizontal_move_z: 7.5
mesh_min: 10, 10   #x10 y10
mesh_max: 176, 165 #x201 y201
probe_count: 6, 6


[safe_z_home]
home_xy_position: 125, 146
speed: 50
z_hop: 10
z_hop_speed: 5.0
move_to_previous: False
#   When set to True, the X and Y axes are reset to their previous
#   positions after Z axis homing. The default is False.


############################################
#   Z-Tilt                                 #
############################################
[z_tilt]
z_positions:
			-56, 101
			258, 101
#			-56, 101  #Z links
#			258, 101  #Z1 rechts
#   A list of X, Y coordinates (one per line; subsequent lines
#   indented) describing the location of each bed "pivot point". The
#   "pivot point" is the point where the bed attaches to the given Z
#   stepper. It is described using nozzle coordinates (the X, Y position
#   of the nozzle if it could move directly above the point). The
#   first entry corresponds to stepper_z, the second to stepper_z1,
#   the third to stepper_z2, etc. This parameter must be provided.
points:		
			30,  141
			202, 141
#			10,  101  #Z links
#			192, 101  #Z1 rechts
#   A list of X, Y coordinates (one per line; subsequent lines
#   indented) that should be probed during a Z_TILT_ADJUST command.
#   Specify coordinates of the nozzle and be sure the probe is above
#   the bed at the given nozzle coordinates. This parameter must be
#   provided.
speed: 70
#   The speed (in mm/s) of non-probing moves during the calibration.
#   The default is 50.
horizontal_move_z: 7.5
#   The height (in mm) that the head should be commanded to move to
#   just prior to starting a probe operation. The default is 5.
retries: 12
#   Number of times to retry if the probed points aren't within
#   tolerance.
retry_tolerance: 0.015
#   If retries are enabled then retry if largest and smallest probed
#   points differ more than retry_tolerance. Note the smallest unit of
#   change here would be a single step. However if you are probing
#   more points than steppers then you will likely have a fixed
#   minimum value for the range of probed points which you can learn
#   by observing command output.


############################################
# Beeper                                   #
############################################
[output_pin beeper_pin]
pin: P1.30
pwm: True
value: 0
shutdown_value: 0
cycle_time: 0.001


############################################
# ADXL345                                  #
# activate for resonance test!             #
# make sure to place Sensor correct!       #
############################################
#[include adxl345.cfg] 


############################################
# Input Shaper                             #
############################################
[input_shaper]
shaper_type_x = 2hump_ei
shaper_freq_x = 70.0
shaper_type_y = 3hump_ei
shaper_freq_y = 50.4


###########################################
# Input Shaper Test codes                 #
###########################################
#
# check if connectipon to adxl is established:
# ACCELEROMETER_QUERY CHIP=<chip>
# ACCELEROMETER_QUERY CHIP=adxl345
#
# Measuring the resonances
# Now you can run some real-life tests. Run the following command:
# TEST_RESONANCES AXIS=X
# TEST_RESONANCES AXIS=Y


############################################
#   Display Section                        #
############################################

############################################
#   EXP1 / EXP2 (display) pins             #
############################################
[board_pins]
aliases:
  # EXP1 header
  EXP1_1=P1.30, EXP1_3=P1.18, EXP1_5=P1.20, EXP1_7=P1.22, EXP1_9=,
  EXP1_2=P0.28, EXP1_4=P1.19, EXP1_6=P1.21, EXP1_8=P1.23, EXP1_10=<5V>,
  # EXP2 header
  EXP2_1=P0.17, EXP2_3=P3.26, EXP2_5=P3.25, EXP2_7=P1.31, EXP2_9=,
  EXP2_2=P0.15, EXP2_4=P0.16, EXP2_6=P0.18, EXP2_8=, EXP2_10=

############################################
#   BTT TFT 35V3                           #
############################################
[display]
lcd_type: emulated_st7920
en_pin: EXP1_4
spi_software_sclk_pin: EXP1_5
spi_software_mosi_pin: EXP1_3
spi_software_miso_pin: EXP1_6
encoder_pins: ^EXP2_5, ^EXP2_3
click_pin: ^!EXP1_2

#[display]
#lcd_type: st7920
#cs_pin:
#sclk_pin:
#sid_pin:


############################################
# Alternate square bed                     #
############################################

[display_glyph bed_alt]
data:
  ......****......
  .....******.....
  .....*....*.....
  .....*....*.....
  .....******.....
  ....********....
  ...**********...
  ...**********...
  ...**..**..**...
  ...**......**...
  ...**..**..**...
  ...**.****.**...
  ...**********...
  .....******.....
  ......*.*.......
  .......*.*......


############################################
#   Telegram BOT lapse variable            #
############################################
[gcode_macro _bot_data]
variable_lapse_video_size: 0
variable_lapse_filename: 'None'
variable_lapse_path: 'None'
gcode:
    M118 Setting bot lapse variables

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bltouch]
#*# z_offset = 1.249
#*#
#*# [bed_mesh pei]
#*# version = 1
#*# points =
#*# 	-0.777660, -0.537797, -0.302984, -0.201990, -0.171691, -0.255012
#*# 	-0.664040, -0.396404, -0.222188, -0.095945, -0.050497, -0.232288
#*# 	-0.451952, -0.328233, -0.128768, 0.015149, -0.012624, -0.219664
#*# 	-0.325708, -0.151492, -0.022724, 0.032823, -0.002525, -0.227238
#*# 	-0.189365, -0.017674, 0.032823, -0.007575, -0.030298, -0.313084
#*# 	-0.126243, -0.085846, -0.022724, -0.020199, -0.146442, -0.335808
#*# x_count = 6
#*# y_count = 6
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = lagrange
#*# tension = 0.2
#*# min_x = 10.0
#*# max_x = 176.0
#*# min_y = 10.0
#*# max_y = 165.01
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  -0.787759, -0.522648, -0.295410, -0.164116, -0.159067, -0.272686
#*# 	  -0.653941, -0.361056, -0.191890, -0.090895, -0.037873, -0.207039
#*# 	  -0.459526, -0.300459, -0.118669, 0.045448, -0.055547, -0.209564
#*# 	  -0.282785, -0.148967, -0.027774, 0.040398, -0.010099, -0.212089
#*# 	  -0.171691, -0.025249, 0.022724, -0.042923, -0.030298, -0.381255
#*# 	  -0.103520, -0.060597, -0.020199, -0.025249, -0.156542, -0.398929
#*# x_count = 6
#*# y_count = 6
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = lagrange
#*# tension = 0.2
#*# min_x = 10.0
#*# max_x = 176.0
#*# min_y = 10.0
#*# max_y = 165.01
